<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Expédition de votre commande</title>


</head>

<body>
<!--TEMPLATE ENTIER-->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color:#f1f0f8;padding:20px;font-family:Arial;">
    <tr>
        <td>
            <table width="680" cellspacing="0" cellpadding="0" align="center" style="border-top:1px solid #d7d9e4;border-right:1px solid #d7d9e4;border-left:1px solid #d7d9e4;font-family:Arial;">
                <tr>
                    <td>
                        <table height="60" bgcolor="white" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #d7d9e4;font-family:arial;">
                            <tr>
                                <td width="240">
                                    <a href="http://louvre.fr" target="_blank"><img style="display:block;" alt="Louvre" border="0" src="https://www.grapheine.com/wp-content/uploads/2016/04/louvre-1eravril-800x238.jpg" width="240" height="60"></a>
                                </td>
                                <td width="440" style="font-size:24px;font-weight:bold;color:#e23a05;text-align:right;padding-right:10px;font-family:arial;">Confirmation de votre commande</td>
                            </tr>
                        </table>

                        <table border="0" cellspacing="0" cellpadding="0" bgcolor="white" width="100%" style="font-family:Arial;">
                            <tr>
                                <td valign="top" style="font-size:12px;color:#323232;padding-left:10px; padding-right:20px;">
                                    <p style="text-align:left;font-weight:bold;">
                                        <br>Commande N° {{  }}
                                    </p>
                                    <p style="text-align:right;">
                                        Paris, {{ }}
                                    </p>
                                    Bonjour,<br><br>

                                    Nous vous confirmons votre commande<span style="font-weight:bold;">LCCM</span>.

                                    <br><br>

                                    <div style="font-weight:bold;">Informations de la commande :</div>
                                    <div style="margin:5px 5px 10px 0;">
                                        MR BRECHOIRE JEROME <br>
                                        8 B QUARTIER DE LA GALOPERIE<br>59186 ANOR<br>FR<br>
                                    </div>
                                    <div style="margin:5px 5px 5px 0;">
                                        <span style="font-weight:bold;">Mode de paiement choisi :</span> Stripe<br>

                                    </div>
                                    <br>
                                    Pour toute autre question sur la commande, veuillez contacter le musée du Louvre sur <a href="http://louvre.fr">http://louvre.fr</a> <br><br>
                                    <br>

                                    <div style="font-size:13px;color:#323232;font-weight:normal;">Référence de la commande client : <span style="font-weight:bold;">n°{{ }}</span></div><br>


                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;text-align:center;margin-bottom:20px;font-family:Arial;">
                                        <tr><td style="height:1px;background-color:#f1f0f8;" colspan="4"> </td></tr>
                                        <tr>

                                            <td colspan="4" style="text-align:left;padding:10px;font-family:Arial;font-weight:bold;">PRODUIT(S) DE VOTRE COMMANDE : </td>


                                        </tr>
                                        <tr><td style="height:1px;background-color:#d7d9e4;" colspan="4"> </td></tr>
                                        <tr style="background-color:#f1f0f8;font-weight:bold;">
                                            <td width="300" style="padding:5px;"> Nom</td>
                                            <td width="50" style="padding:5px;"> Prénom</td>
                                            <td width="180" style="padding:5px;">DATE DE LIVRAISON PRÉVUE</td>
                                        </tr>

                                        <tr>
                                            <td width="300" style="padding:5px;text-align:left;">
                                                <div style="font-weight:bold;">- Dalle écran LED 17.3  pour pc portable  Acer Aspir</div>
                                                (AUC3663221788309)<br>

                                            </td>
                                            <td width="50" style="padding:5px;">1</td>

                                            <td width="180" style="padding:5px;" rowspan=1>

                                                Entre le 29/05/2017 et le 31/05/2017

                                            </td>

                                        </tr>

                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>