/*Débug col*/
.dc{
    border: 1px dashed grey;
    padding: 10px;
}

hr.louvre {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.louvre:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.mb-20{
    margin-bottom: 20px;
}

.help-form{
    font-style: italic;
}